%h2.center Forgot your password?
%p.center Don't worry! We are going to send you password reset instructions.
.row
  .col.s5
  .col.s2.center  
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        .center
          %input.btn{ name: "commit", type: "submit", value: "Send instructions"}
    = render "devise/shared/links"
