%ul.topnav
  %li.brand
    =t('administrate.admin_panel')
  %li
    =link_to t('administrate.go_to_web'), root_url, target: '_blank'
  .float-right
    %li
      =t('administrate.logged_as')
      #{current_admin_user.email} |
      =link_to 'Log out', destroy_admin_user_session_path, method: :delete
