.banner{:style => "background-image: url('http://res.cloudinary.com/dijz3a59v/image/upload/v1502975250/student-inn-banner_xuvrfv.jpg');"}
  .banner-content
    %h1.header.center
      =t('layout.logo')
    %p
      =t('layout.description')
    = link_to t('layout.get_started'), new_student_session_path, class: "btn-main"

