/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 */
@import 'materialize';

$bgcolor1: #283593;
$bgcolor2: #9fa8da;
$textcolor1: white;
$textcolor2: #f5f5f5;

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.bg-1
{
  background-color: $bgcolor1;
}

.bg-2
{
  background-color: $bgcolor2;
}

.text-1
{
  color: $textcolor1;
}

.text-2
{
  color: $textcolor2;
}

.text-3
{
  color: $bgcolor1;
}

.btn-large {
  @extend .bg-1;
}

.btn {
  @extend .bg-1;
}

