%p.center
      Welcome #{@email}!
.row
  .col.s5
  .col.s2.center  
    %p=t('devise.mailer.link_instruction')
    %p= link_to t('devise.mailer.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token)
