/ %br/
/ %br/
/ %footer.page-footer
/   .container
/     .row
/       %h5=t('layout.company_bio')
/       %p=t('layout.company_bio_description')
/   .footer-copyright
/     .container
/       =t('layout.made_by')
/ / Scripts
/ %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
