%br/
%br/
%footer.page-footer.bg-1
  .container
    .row
      %h5.text-2=t('layout.company_bio')
      %p.text-1=t('layout.company_bio_description')
  .footer-copyright
    .container
      =t('layout.made_by')
/ Scripts
%script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}